<nav class="navbar">
  <div class="navbar__brand">
    <a href="/ui">Arete</a>
  </div>
  <ul class="navbar__links">
    <li><a href="/ui">Home</a></li>
    <li><a href="/collections/list">Collections API</a></li>
  </ul>
</nav>
