# This file specifies files and directories to ignore when building the Docker image.
node_modules
dist
*.log
*.env
*.md
.git
.gitignore
npm-debug.log
yarn-debug.log
yarn-error.log
coverage
prisma/migrations
prisma/dev.db
prisma/seed.ts