services:
    db:
        image: postgres:17
        env_file: .env
        ports:
            - "${DATABASE_PORT}:${DATABASE_PORT}"
        volumes:
            - db_data:/var/lib/postgresql/data
    
    backend:
        build: .
        env_file: .env
        ports:
            - "${APPLICATION_PORT}:${APPLICATION_PORT}"
        depends_on:
            - db
volumes:
    db_data:
        driver: local
