services:
    db:
        image: postgres:17
        env_file: .env
        ports:
            - "${DATABASE_PORT}:5432"
        volumes:
            - db_data:/var/lib/postgresql/data
        environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 5s
            timeout: 5s
            retries: 5
    
    backend:
        build: .
        env_file: .env
        ports:
            - "${APPLICATION_PORT}:3000"
        depends_on:
            db:
                condition: service_healthy
        volumes:
            - ${HOST_MACHINE_FILE_STORAGE_PATH}:${CONTAINER_FILE_STORAGE_PATH}

volumes:
    db_data:
        driver: local
