<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title or 'Arete' }}</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-iV3Qh6qUCU5m4sA8nM8Kp6r0u7t9L1wqUACu6mD7Fq3Zf2c2c3EwQnYQp9nk1m3F" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include "partials/navbar.njk" %}
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
