<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ title or 'Arete' }}</title>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <link rel="stylesheet" href="/static/css/button.css"/>
    <script src="/static/js/htmx.org.min.js" defer></script>
    <script src="/static/js/alpinejs.min.js" defer></script>
  </head>
  <body>
    {% include "partials/navbar.njk" %}
    <div id="loading" class="htmx-indicator">Loading…</div>
    <main class="container" hx-indicator="#loading">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>