{% extends "layouts/base.njk" %}
{% import "partials/components.njk" as components %}

{% block content %}
	<script id="quiz-page-script">
		function ElementWithId(id) {
			return document.getElementById(id);
		}

		function htmxBeforeSubmit(event) {
			console.log("htmxBeforeSubmit fired");
		}
		function htmxAfterSubmit(event) {
			console.log("htmxAfterSubmit fired");
			if (!event.detail.xhr || event.detail.xhr.status !== 200) {
				alert("Failed submitting answer");
				return;
			}

			const response = JSON.parse(event.detail.xhr.responseText);

			const questionParts = document.querySelectorAll(".question-part");
			// select all distractor buttons and input with button
			const distractorButtons = document.querySelectorAll(".distractor");
			const inputElements = document.querySelectorAll("#submit-answer-button, #answer-input");
			const feedbackErrorMessage = ElementWithId("feedback--error");
			const quizCardElement = ElementWithId("quiz-card-content");
			const skipQuestionButton = ElementWithId("skip-question-button");
			const nextQuestionButton = ElementWithId("next-question-button");

			const body = JSON.parse(event.detail.xhr.responseText);
			const isCorrect = body.isCorrect;
			const correctAnswer = body.correctAnswer;

			quizCardElement.classList.add("quiz-card--submitted");
			quizCardElement.classList.add(isCorrect ? "quiz-card--correct" : "quiz-card--incorrect");

			if (isCorrect) {
				playAudio();
			}

			distractorButtons.forEach((b) => (b.disabled = true));
			inputElements.forEach((b) => (b.disabled = true));

			distractorButtons.forEach((button) => {
				if (button.textContent.trim() === correctAnswer) {
					button.classList.add("distractor--correct");
				}
			});

			if (!isCorrect) {
				feedbackErrorMessage.textContent = `Incorrect. The correct answer is: ${correctAnswer}`;
			}

			skipQuestionButton.disabled = true;
			nextQuestionButton.disabled = false;
			nextQuestionButton.focus();
		}
		function htmxBeforeNextQuestionLoad(event) {
			console.log("htmxBeforeNextQuestionLoad fired");
			const quizCardElement = ElementWithId("quiz-card-content");
			quizCardElement.classList.remove("quiz-card--submitted");
			quizCardElement.classList.remove("quiz-card--correct");
			quizCardElement.classList.remove("quiz-card--incorrect");
		}

		function htmxAfterNextQuestionLoad(event) {
			console.log("htmxAfterNextQuestionLoad fired");
		}

		function afterCardContentLoad() {
			console.log("afterCardContentLoad fired");
		}

		function alpineAfterCardContentLoad() {
			console.log("alpineAfterCardContentLoad fired");
			const inputElement = document.querySelector("#answer-input");
			const firstDistractorButton = document.querySelector(".distractor");

			const skipQuestionButton = ElementWithId("skip-question-button");
			const nextQuestionButton = ElementWithId("next-question-button");
			// console.log("Input el is here:", !!inputElement);
			// console.log("First distractor button is here:", !!firstDistractorButton);
			if (inputElement) {
				inputElement.focus();
			} else if (firstDistractorButton) {
				firstDistractorButton.focus();
			}

			skipQuestionButton.disabled = false;
			nextQuestionButton.disabled = true;
		}

		function playAudio() {
			const audioElement = ElementWithId("exercise-audio");
			if (!audioElement) return;
			audioElement.currentTime = 0;
			audioElement.play();
		}

		function copyQuestionText() {
			const questionParts = document.querySelectorAll(".question-part");
			let textToCopy = "";
			questionParts.forEach((part) => {
				textToCopy += part.textContent + " ";
			});
			textToCopy = textToCopy.trim();
			navigator.clipboard.writeText(textToCopy).then(() => {
				window.alert("Question copied to clipboard");
			});
		}
	</script>
	<div
		id="quiz-page-wrapper"
		x-data="{
			isImageVisible: false,
			isExplanationVisible: false,
			isForceTextInput: false,
			userAnswerAlpine: '',
		}"
		x-disabled-elt=".distractor, #answer-input, #submit-answer-button, #skip-question-button, #next-question-button, #control-buttons button"
	>
		<div
			id="quiz-card-content"
			{# hx-on::after-swap="console.log('after swap fired');" #}
			{# hx-on::after-request="console.log('after request fired');" #}
			{# hx-on::load="console.log('load fired');" #}
			{# hx-on::before-process-node="console.log('beforeCardContentLoad fired');" #}
			{# hx-on::after-process-node="afterCardContentLoad()" #}
			{# hx-on::after-settle="console.log('after settle fired');" #}
			x-init="$nextTick(() => { alpineAfterCardContentLoad() })"
		>
			{# DEBUG BLOCK #}
			{% if false %}
				<div id="debug">
					<div x-text="userAnswerAlpine"></div>
					<div x-text="isImageVisible"></div>
					<div x-text="isExplanationVisible"></div>
				</div>
			{% endif %}

			{# AUDIO ELEMENT #}
			{% if quizQuestion.audioUrl %}
				<audio
					id="exercise-audio"
					src="/exercises/files/audio/{{ quizQuestion.audioUrl }}"
					hidden
					controls
				></audio>
			{% endif %}

			{# EXIT BUTTON #}
			<button hx-get="/ui/collections/{{ collectionId }}" hx-target="body" hx-swap="innerHTML">Exit</button>

			{# HIDDEN INPUTS #}
			<input id="collectionId" value="{{ collectionId }}" type="hidden" />
			<input id="exerciseId" name="exerciseId" value="{{ quizQuestion.id }}" type="hidden" />

			{# CONTROL BUTTONS #}
			<div id="question-type">{{ quizQuestion.type }}</div>
			<div class="wrapper card">
				<div id="control-buttons">
					{# show image #}
					{% if quizQuestion.imageUrl %}
						<button
							class="icon-button"
							x-bind:class="isImageVisible ? 'active' : ''"
							@click="isImageVisible = !isImageVisible"
						>
							{% include "icons/photo.njk" %}
						</button>
					{% endif %}

					{# play audio #}
					{% if quizQuestion.audioUrl %}
						<button class="icon-button" onclick="playAudio()">{% include "icons/audio-wave.njk" %}</button>
					{% endif %}

					{# show explanation #}
					{% if quizQuestion.explanation %}
						<button
							class="icon-button"
							x-bind:class="isExplanationVisible ? 'active' : ''"
							@click="isExplanationVisible = !isExplanationVisible"
						>
							{% include "icons/information-circle.njk" %}
						</button>
					{% endif %}

					{# force text input #}
					<button
						class="icon-button"
						x-bind:class="isForceTextInput ? 'active' : ''"
						@click="isForceTextInput = !isForceTextInput"
					>
						{% include "icons/bars-3-center-left.njk" %}
					</button>
					{# copy question without special characters #}
					<button class="icon-button" onclick="copyQuestionText()">
						{% include "icons/clipboard-document.njk" %}
					</button>
					{# edit question #}
					<button
						hx-get="/ui/exercises/{{ quizQuestion.id }}/edit"
						hx-target="body"
						hx-swap="innerHTML"
						class="icon-button"
					>
						{% include "icons/pencil.njk" %}
					</button>
				</div>

				{# QUESTION TEXT #}
				<div class="question-text">
					{# a directive from main.ts #}
					{% set parts = quizQuestion.question | parseQuestion %}
					{% for part in parts %}
						<span class="question-part {{ 'answer' if part.isAnswer }}">{{ part.text }}</span>
						{% if not loop.last %}{% endif %}
					{% endfor %}
				</div>

				{# QUESTION TRANSLATION #}
				<div id="question-translation">{{ quizQuestion.translation }}</div>

				{# ANSWER INPUTS #}
				{% if quizQuestion.type === "CHOICE_SINGLE" %}
					<div class="question-container" id="distractor-buttons-container">
						{% for distractor in quizQuestion.distractors %}
							<button
								class="distractor distractor_{{ loop.index }}"
								hx-post="/exercises/drill/{{ collectionId }}/submit"
								hx-vals='{"userAnswer": "{{ distractor }}" , "exerciseId" : "{{ quizQuestion.id }}" }'
								hx-swap="none"
								hx-trigger="
								click once, 
								keyup[
									(key=='{{ distractorsHotKeyMapFunction(loop.index) }}') && 
									event.target.matches('.distractor:not([disabled])')
									]
								from:body once"
								hx-on::before-request="this.classList.add('distractor--selected'); htmxBeforeSubmit(event);"
								hx-on::after-request="htmxAfterSubmit(event);"
							>
								{{ distractor | lower }}
							</button>
						{% endfor %}
					</div>
				{% elif quizQuestion.type === "FILL_IN_THE_BLANK" %}
					<div
						id="text-input-container"
						class="question-container"
						hx-post="/exercises/drill/{{ collectionId }}/submit"

						hx-include="#answer-input, #exerciseId"
						hx-swap="none"
						hx-trigger="keydown[key==='Enter'] from:#answer-input, click from:#submit-answer-button"
						hx-on::before-request="htmxBeforeSubmit(event);"
						hx-on::after-request="htmxAfterSubmit(event);"
					>
						<input
							id="answer-input"
							type="text"
							name="userAnswer"
							autocomplete="off"
							x-model="userAnswerAlpine"
						/>

						<button id="submit-answer-button" x-bind:disabled="!userAnswerAlpine.length">Submit</button>
					</div>
					{# {% elif quizQuestion.type === "CHOICE_MULTIPLE" %} #}
				{% else %}
					<div class="mt">Unknown question type</div>
				{% endif %}

				{# FEEDBACK CARD #}
				<div id="feedback-card" aria-live="polite">
					<div id="feedback--success" class="card" {# x-bind:hidden="!isSubmitted || !isCorrect" #}>
						Correct! Well done.
					</div>
					<div id="feedback--error" class="card" {# x-bind:hidden="!isSubmitted || isCorrect" #}></div>
				</div>

				{# IMAGE CARD #}
				{% if quizQuestion.imageUrl %}
					<template x-if="true">
						<div x-cloak id="image-card" class="card" x-show="!!isImageVisible" x-transition>
							<img src="/exercises/files/image/{{ quizQuestion.imageUrl }}" alt="Question Image" />
						</div>
					</template>
				{% endif %}

				{# EXPLANATION CARD #}
				{% if quizQuestion.explanation %}
					<template x-if="true">
						<div class="explanation-card" x-show="isExplanationVisible" x-transition>
							<strong>Explanation:</strong>
							<div class="content">{{ quizQuestion.explanation | filterMarkdown | safe }}</div>
						</div>
					</template>
				{% endif %}
			</div>
		</div>

		{# NEXT QUESTION BUTTON #}
		<div
			id="quiz-card-footer"
			hx-get="/ui/quiz/{{ collectionId }}"
			hx-target="#quiz-card-content"
			hx-select="#quiz-card-content"
			hx-trigger="click from:#next-question-button, click from:#skip-question-button"
			hx-swap="outerHTML"
			hx-on::before-request="htmxBeforeNextQuestionLoad(event)"
			hx-on::after-request="htmxAfterNextQuestionLoad(event)"
			hx-disabled-elt="this"
		>
			<button
				id="skip-question-button"
				@click="userAnswerAlpine=''; isImageVisible=false; isExplanationVisible=false;"
			>
				Skip
			</button>
			<button
				id="next-question-button"
				@click="userAnswerAlpine=''; isImageVisible=false; isExplanationVisible=false;"
			>
				Next Question
			</button>
		</div>
		<style>
			.question-text {
				font-size: 1.25rem;
				line-height: 1.75;
				font-weight: 600;
				color: #e2e8f0;
				/* display: grid;
				gap: 0.25rem;
				grid-template-columns: repeat(auto-fit, minmax(100px, auto));
				justify-content: start;
				margin-bottom: 1rem; */
			}

			@media (min-width: 768px) {
				.question-text {
					font-size: 1.5rem;
				}
			}

			.question-part {
				border-radius: 4px;
				padding: 0 4px;
			}

			.question-part.answer {
				background-color: #3b82f6;
				color: #3b82f6;
				user-select: none;
			}
			.quiz-card--correct .question-part.answer,
			.quiz-card--incorrect .question-part.answer {
				color: #4ade80;
				text-shadow: none;
			}

			.quiz-card--correct .question-part.answer,
			.quiz-card--incorrect .question-part.answer {
				color: #4ade80;
				background-color: rgba(74, 222, 128, 0.1);
			}

			.question-container {
				margin-top: 1rem;
				display: flex;
				flex-direction: column;
				align-items: center;
			}

			#distractor-buttons-container {
				/* grid 2 cols */
				display: grid;
				grid-template-columns: repeat(2, minmax(0, 1fr));
				gap: 1rem;
			}

			#text-input-container {
				width: 100%;
				display: flex;
				gap: 0.5rem;
				flex-direction: row;
			}

			.distractor {
				display: block;
				width: 100%;
				padding: 0.75rem;
				font-size: 1rem;
				font-weight: 600;
				color: #1f2937;
				background-color: #e5e7eb;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				transition:
					background-color 0.3s,
					color 0.3s;
			}

			.quiz-card--incorrect .distractor--selected {
				/* incorrect answer (user selected) */
				background-color: #f87171;
				color: #1f2937;
			}

			.quiz-card--correct .distractor--selected {
				/* correct answer (user selected) */
				background-color: #4ade80;
				color: #1f2937;
			}

			.quiz-card--incorrect .distractor--correct {
				/* correct answer (but user selected the wrong one) */
				border: 2px solid #4ade80;
				/* invert background color and text color */
				background-color: #1f2937;
				color: #d1fae5;
			}

			#feedback--success {
				background-color: #d1fae5;
				color: #065f46;
				border: 1px solid #10b981;
				padding: 0.75rem;
				border-radius: 4px;
			}

			#feedback--error {
				background-color: #fecaca;
				color: #991b1b;
				border: 1px solid #f87171;
				padding: 0.75rem;
				border-radius: 4px;
			}

			.quiz-card--correct #feedback--success {
				display: block;
			}
			#feedback--success {
				display: none;
			}
			.quiz-card--incorrect #feedback--error {
				display: block;
			}
			#feedback--error {
				display: none;
			}

			/* image */
			#image-card {
				background: linear-gradient(180deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.02));
				padding: 1rem;
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			#image-card img {
				width: 300px;
				height: 300px;
				object-fit: cover;
				border-radius: 6px;
			}

			.explanation-card {
				/* white-space: pre-line; */
				width: 100%;
				/* word-break: keep-all; */
				overflow-wrap: break-word;
				margin-top: 1rem;
				padding: 1rem;
				background-color: var(--panel);
				color: var(--text);
				/* subtle shadow */
				box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
				/* border */
				border: var(--border);
				border-radius: 8px;
			}

			/* scroll inside container */
			.explanation-card .content {
				max-height: 300px;
				overflow-y: auto;
			}

			#control-buttons button {
				background: none;
				border: none;
				cursor: pointer;
				font-size: 1.25rem;
				margin-left: 0.5rem;
			}

			#question-type {
				text-align: right;
				font-size: 0.875rem;
				color: #9ca3af;
			}

			#control-buttons {
				margin-bottom: 1rem;
				text-align: right;
			}

			#feedback-card {
				height: 3rem;
				margin-top: 1rem;
			}

			#quiz-card-footer {
				margin-top: 2rem;
				display: flex;
				justify-content: space-between;
				gap: 1rem;
			}
		</style>
	</div>
{% endblock %}
